@font-face {
    font-family: Muli;
    src: url("./fonts/Muliregular.woff") format("woff");
    /* truetype */
    font-weight: 400;
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

body {
    font-family: Muli;
    color: #fff;
}
a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.btn {
    color: #ffffff;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header {
    background-image: url(img/header-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1740px;
    padding: 0 10px;
   
    margin: 0 auto;
}
button{
    border: none;
    background-color: transparent;
}
li {
    list-style-type: none;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    align-items: center;
    position: relative;
}
.nav__list {
    display: flex;
    
}

.nav__item + .nav__item {
    margin-left: 30px;
}

.header__count {
    position: absolute;
    margin-top: -18px;
    margin-left: 5px;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    width: 21px;
    height: 21px;
    color: black;
}

.header__logo {
    display: block;
    position: absolute;
    top: 63px;
    left: 37%;
    transform: translateX(50%);
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item + .header__item {
    margin-left: 45px;
}

.header__social {
    margin-left: 134px;
}

.social__list {
    display: flex;
    align-items: center;
}

.social__list-item + .social__list-item {
    margin-left: 8px;
}

.social__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
   
}

.header__btn {
    width: 280px;
    height: 70px;
    background-color: #0aa566;
   
    border-radius: 35px;
    
}

.nav {
    display: flex;
}

.smoosies {
    padding: 100px 0 110px;

}
.title{
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
}
.smoosies__title {
    text-align: center;
    
    color: #f7ae3b;
    margin-bottom: 50px;

}
.text{
    font-size: 18px;
    line-height: 35px;
}
.smoosies__text {
    text-align: center;
    max-width: 915px;
    color: #1e1e1e;
    margin: 0 auto 60px;
   
}

.smoosies__bloks {
    max-width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.smoosies__item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
    padding-bottom: 25px;
}

.smoosies__item:first-child,
.smoosies__item:nth-child(2),
.smoosies__item:nth-child(3) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}

.smoosies__item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoosies__item:nth-child(5),
.smoosies__item:nth-child(6),
.smoosies__item:nth-child(7) {
    border-right: 2px solid #f6edde;
}


.smoosies__desc {
    font-size: 25px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;
    margin-top: 25px;
}

.about {
    background-color: #137f70;
    margin: 0 auto;
}

/* .about__img {
    position: relative;
    display: block;
    right: -143px;
    
} */
.about__wrapper {
    display: flex;
    height: 800px;
    position: relative;
    justify-content: space-evenly;
    padding-top: 97px;
}

.about__picture {
    display: block;
    transform: translate(10px, -33px);
    width: 691px;
    height: 818px;
}



.about__text {
    margin: 100px 0 96px 360px;
  
}

.about__title {
    width: 577px;
    letter-spacing: -0.02em;
}

.about__title--green {
    color: #cae941;
}

.about__title--green::before {
    content: "";
    position: absolute;
    background: url(img/Line.png);
    display: block;
    top: 93px;
    left: 26px;
    width: 450px;
    height: 13px;
    
}

.about__blok {
    position: relative;
}

.about__item {
 position: relative;
   font-size: 21px;
}

.about__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./img/badge.png);
    padding: 0;
    margin-right: 20px;

}

.about__list {
    list-style-image: url(img/1w.png);
    margin-top: 68px;
    left: 24px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 329px;
    justify-content: space-between;
}



.about__btn {
    width: 382px;
    height: 63px;
    border: 2px solid #f8b231;
    border-radius: 30px;
    
    font-size: 21px;
    line-height: 22px;
    
    margin-top: 439px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.catalog__wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog__blocks {
    flex-grow: 1;
}

.catalog__blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 78px;
}

.catalog__img {
    margin: 129px 0 25px;
    
}

.catalog__title {
   
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
    
    margin-bottom: 5px;
}

.catalog__volume {
    font-size: 21px;
    line-height: 32px;
   
    font-style: italic;
    margin-bottom: 60px;
}

.catalog__btn {
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.catalog__blocks--red {
    background-color: #68291c;
}

.catalog__blocks--green {
    background-color: #178370;
}

.catalog__blocks--yellow {
    background-color: #f3ac37;
}

.catalog__blocks--orange {
    background-color: #c5481b;
}



.story__content {
    display: flex;
}

.story__title {
   
    color: #f7ae3b;
}

.story__wrapper {
    width: 511px;
    height: 118px;
    margin-left: 308px;
    margin-right: 206px;
    padding-top: 260px;
}

.story__text {
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
    padding-top: 43px;
    padding-bottom: 56px;
}

.story__picture {
    padding-top: 120px;
    padding-bottom: 160px;
    position: relative;
}

.story__img {
    position: relative;
}

.story__img::before {
    content: "";
    position: absolute;
    background: url(img/Stamp.png);
    top: 160px;
    left: -166px;
    width: 290px;
    height: 216px;
    z-index: 1;
    
}


.story__btn {
    width: 304px;
    height: 63px;
    background-color: #0aa566;
    border-radius: 30px;
    font-family: Muli;
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
}

.reviews {
    background-color: #632d19;
    position: relative;
}

.reviews__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.reviews__box {
    display: flex;
    align-items: center;
    width: 734px;
    justify-content: space-between;
    margin-top: 83px;
    position: relative;
}

.reviews__box::after {
    content: "Sarah A";

    position: absolute;

    display: block;

    opacity: 0.6;

    font-size: 200px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #521905;

    top: 0;
    left: -135px;
    
}

.reviews__box {
    position: relative;
}

.reviews::before {
    content: "";
    position: absolute;
    background: url(img/Dots.png);
    top: -82px;
    right: 127px;
    width: 410px;
    height: 301px;

}

.reviews__title {
    font-family: Muli;
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
    margin-top: 117px;
    text-align: center;
}

.reviews__article {
    padding-top: 83px 0 240px;
    width: 455px;
    height: 130px;
    text-align: center;
    z-index: 1;
}

.reviews__title--big {
    color: #f2612d;
}

.reviews__img {
    z-index: 1;
}

.reviews__container {
    display: flex;
    width: 158px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 110px;
}


.reviews__btn {
    background-color: #632d19;
    border: none;
    background: url(img/ArrowL.png);
    width: 30px;
    height: 16px;
    
}

.btn--right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.reviews__quote {
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    
}

.reviews__cite {
    line-height: 45px;
    font-weight: 600;
    font-style: italic;
    color: #f7ae3b;
}


.blog {
    display: flex;
    justify-content: center;
}


.blog__wrapper {
    display: flex;
}

.blog__box {
    margin-top: 99px;
}

.blog__title {
    font-family: Muli;
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
    margin-bottom: 49px;
}

.blog__content {
    display: flex;
    flex-direction: column;
    width: 539px;
    align-items: flex-end;
    position: relative;
}

.blog__wrapper {
    width: 1155px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 202px;
}

.blog__subtitle {
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;
    margin-top: 328px;
  
  
}

.blog__content::before {
    display: block;
    content: "";
    background: url(img/Line-or.png);
    width: 687px;
    height: 12px;
    top: 273px;
    left: -118px;
    position: absolute;
    z-index: -1;
}

.blog__time {
    font-family: Muli;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 18px;
}

.blog__text {
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
    margin-top: 45px;
    width: 472px;
}

.blog__link {
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
}


.instagram__title {
    font-family: Muli;
    font-size: 24px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #0aa566;
    position: relative;
    text-align: center;
}

.instagram__title::before {
    content: "";
    background:url(img/icon_3294.png);
    position: relative;
    display: block;
    top: 34px;
    left: 838px;
    width: 26px;
    height: 26px;
    
}

.instagram__wrapper {
    font-size: 0;
    display: flex;
    margin-top: 45px;
}

.instagram__photo {
    position: relative;
    width: 20%;
}

.instagram__photo::before {
    content: "";
    display: block;
    background: url(img/Icon1-1.png);
    width: 26px;
    height: 26px;
    top: 338px;
    left: 336px;
    position: absolute;
    z-index: 1;
}

.instagram__img {
    width: 100%;
}

.footer {
    background-color: #ebae50;
}

.footer__top {
    display: flex;
    justify-content: space-around;
}

.footer__box {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    max-width: 270px;
    align-items: center;
}

.footer__list {
    list-style-type: none;
    margin-bottom: 100px;
}

.footer-logo {
    display: flex;
 
}

.footer__title,
.paymentn__subtitle,
.content-connection__subtitle {
    font-family: Muli;
    font-size: 26px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 79px;
}

.payment__img {
    height: 100%;
}

.footer__title {
    margin-bottom: 43px;
}

.paymentn__subtitle {
    margin-bottom: 35px;
}

.content-connection__subtitle {
    margin-bottom: 33px;
}

.footer__item {
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
}

.footer__input {
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
    text-indent: 60px;
    border: none;
}

.footer__span {
    font-family: Muli;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #6d450c;
    background-color: #ebae50;
    border-color: #ebae50;
    position: relative;
}

.footer__input::placeholder {
    font-family: Muli;
    font-size: 17px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
    position: relative;
}

.footer__form {
    position: relative;
}

.footer__form::before {
    content: "";
    position: absolute;
    background: url(img/Icon1504.png);
    width: 24px;
    height: 19px;
    top: 21px;
    left: 24px;
    display: block;
}


.footer__wrapper {
    display: flex;
    margin-top: 36px;
    margin-right: 40px;
    justify-content: flex-end;
}

.footer__span {
    border: none;
    margin-right: 40px;
    position: relative;
}

.footer__span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background: url(img/Arrow1111.png);
    width: 48px;
    height: 43px;
    left: -65px;
    top: -10px;
}

.footer__bottom {
    background-color: #6c2d19;
    display: flex;
    justify-content: center
}

.content-connection__img {
    display: flex;
    width: 135px;
    justify-content: space-between;

}

.footer__small {
    font-family: Muli;
    font-size: 13px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #af8a82;
    margin-top: 23px;
    margin-bottom: 19px;
}
.footer__bottom {
    position: relative;
   
}

.footer__btn {
    display: block;
    /* position: absolute; */
    width: 53px;
    height: 53px;
    background-color: #f2662f;
    border-radius: 5px;
    bottom: 52px;
    right: 72px;
    position: fixed;
}

.footer__link {
    position: relative;
    display: block;
}

.footer__btn::before {
    content: "Go top";
    position: absolute;
    font-family: Muli;
font-size: 16px;
line-height: 40px;
font-weight: 700;
letter-spacing: -0.02em;
color: #ffffff;
left: -57px;
    top: 44px;
display: block;
}
 
.footer__link::before {
    content: "";
    position: absolute;
    background: url(img/IconL.png);
left: 937px;
top: -14px;
display: block;
width: 13px;
height: 25px;
z-index: 1;
}