@font-face {
 font-family: 'Muli-bold'; 
   src: url("../assets/fonts/Muli-Bold.ttf");
   /* font-weight: 700; */
   font-display: swap;
}
@font-face {
    font-family: 'Muli'; 
      src: url("../assets/fonts/Muli-BoldItalic.ttf");
      /* font-weight: 700;
      font-style: italic; */
      font-display: swap;
   }
   @font-face {
    font-family: 'Muli'; 
      src: url("../assets/fonts/Muli-ExtraBold.woff");
      font-weight: 800;
     
      font-display: swap;
   }
   @font-face {
    font-family: 'Muli'; 
      src: url("../assets/fonts/Muli-ExtraBold.woff");
      font-weight: 800;
     
      font-display: swap;
   }
   @font-face {
    font-family: 'Muli'; 
      src: url("../assets/fonts/Muli-ExtraBold.woff");
      font-weight: 800;
     
      font-display: swap;
   }
   @font-face {
    font-family: 'Muli'; 
      src: url("../assets/fonts/Muli-ExtraBold.woff");
      font-weight: 800;
     
      font-display: swap;
   }

   *,
   *::before,
   *::after{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

  .header {
       background-image: url(../assets/images/header-bg-img.jpg);
       background-position: center;
       background-repeat: no-repeat;
       height: 100vh;
       
   }

  